{% extends 'base.html' %}

{% block body %}


<p><a href="{{ url_for('.add_pokemon')}}"> Add a new pokemon</a></p>

{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>

{% if pokemon %}
    <table>
        <thead>
            <tr>
                <th>Pokemon ID</th>
                <th>Pokemon Name</th>
                <th>Maximum CP</th>
            </tr>
        </thead>

        <tbody>
            {% for row in pokemon %}
            <tr>
                <td> {{ row.pokemonId }}</td>
                <td> {{ row.pokemon_name }}</td>
                <td> {{ row.maximum_cp }}</td>
                  <td>

        <form action="{{ url_for('pokemon', pokemon_Id=row.pokemonId) }}" method="POST">

            <input type="submit" value="Details" class="btn btn-info" />

        </form>

      </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
